<link rel="stylesheet" href="http://codemirror.net/lib/codemirror.css">

<!-- Code Mirror -->
<script src="http://codemirror.net/lib/codemirror.js"></script>

<!-- For HTML/XML -->
<script src="http://codemirror.net/mode/xml/xml.js"></script>
<script src="http://codemirror.net/mode/htmlmixed/htmlmixed.js"></script>

<!-- For CSS -->
<script src="http://codemirror.net/mode/css/css.js"></script>

<!-- For JS -->
<script src="http://codemirror.net/mode/javascript/javascript.js"></script>

<div ng-controller="MyCtrl1" id="wrap">

	<!-- Code Editors Boxes-->
	<section id="code_editors">
		<div id="html" class="code_box">
			<h3>{{titlebox1}}</h3>
			<textarea name="html"></textarea>
		</div>
		<div id="css" class="code_box">
			<h3>{{titlebox2}}</h3>
			<textarea name="css"></textarea>
		</div>
		<div id="js" class="code_box">
			<h3>{{titlebox3}}</h3>
			<textarea name="js"></textarea>
		</div>
	</section>
	
	<!-- Sandboxing -->
	<section id="output">
		<iframe></iframe>
	</section>
</div>

 <div id="footer">
 	<button type="submit" class="btn btn-default">SUBMIT YOUR WORK</button>
 </div>
